<nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MARIADB AND MONGODB IN DOCKER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                    
                {% if title == "Mariadb" %}
                    <li class="nav-item"><a class="nav-link " href="{{ url_for('homeMariadb') }}">Home Mariadb</a></li>
                    <li class="nav-item"><a class="nav-link " href="{{ url_for('insertPeopleMdb') }}">Insert to Mariadb</a></li>
                {% elif title == "Mongodb" %}
                    <li class="nav-item"><a class="nav-link " href="{{ url_for('homeMongodb') }}">Home Mongodb</a></li>
                    <li class="nav-item"><a class="nav-link " href="{{ url_for('insertMongodb') }}">Insert to Mongodb</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link " href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link " href="{{ url_for('homeMariadb') }}">Mariadb</a></li>
                    <li class="nav-item"><a class="nav-link " href="{{ url_for('homeMongodb') }}">Mongodb</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
