{% extends 'layout2.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}

<div class="col-12 mt-5 c">
    <h1>Mariadb and Mongodb in Docker</h1>
</div>

<div class="col-11 mx-auto mt-5">
    <div class="col-12 mb-4">
        <table class="table table-dark table-striped">
            <tr>
                <th>Idcategoria</th>
                <th>Nombrecategoria</th>
                <th>Descripcion</th>
                <th>ACTION</th>
            </tr>
            {% for k in data %}
                <tr>
                    <td>{{ k.Idcategoria }}</td>
                    <td>{{ k.Nombrecategoria }}</td>
                    <td>{{ k.Descripcion }}</td>
                    <td><a class="btn btn-primary" href="{{ url_for('deleteRecordMongodb', pk=k._id) }}" method="POST">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}